@import "http://cdn.font-store.ir/yekan.css";
html {
  font-size: 100%;
}

body {
  direction: rtl;
  background-color: #ccc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Yekan;
}

li {
  list-style: none;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

#header {
  position: relative;
}
#header-top {
  padding: 15px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  #header-top {
    display: flex;
    flex-flow: column;
  }
}
#header-top ul {
  display: flex;
}
#header-top ul li {
  margin-right: 5px;
  font-size: 0.8rem;
}
#header-top ul:first-child li {
  color: #333333;
}
#header-top ul:first-child li.icon {
  color: #fbc80e;
}
#header-top ul:nth-child(2) li {
  border-radius: 100%;
  background-color: #fbc80e;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#header-main {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1000000;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header-main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
@media only screen and (max-width: 480px) {
  #header-main-info {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  #header-main-info {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #header-main-info {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #header-main-info {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #header-main-info {
    display: flex;
  }
}
#header-main-info li:first-child {
  width: 40%;
}
#header-main-info li:first-child img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
#header-main-info li:nth-child(2) {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
#header-main-info li:nth-child(2) span {
  display: flex;
  padding: 20px;
  text-align: center;
  align-items: center;
}
#header-main-info li:nth-child(2) span .icon i {
  font-size: 1.5rem;
  color: #fbc80e;
}
#header-main-info li:nth-child(2) span .info {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  color: #fff;
}
#header-main-menu {
  width: 95%;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
@media only screen and (max-width: 480px) {
  #header-main-menu #toggle-bar {
    display: flex;
  }
}
@media only screen and (min-width: 481px) {
  #header-main-menu #toggle-bar {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  #header-main-menu #toggle-bar {
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  #header-main-menu #toggle-bar {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  #header-main-menu #toggle-bar {
    display: none;
  }
}
#header-main-menu #toggle-bar {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
#header-main-menu #toggle-bar i {
  cursor: pointer;
  font-size: 2rem;
}
#header-main-menu-bullet-list-right {
  width: 70%;
  display: flex;
}
@media only screen and (max-width: 480px) {
  #header-main-menu-bullet-list-right {
    display: none;
  }
  #header-main-menu-bullet-list-right #toggle-bar {
    display: flex;
  }
}
@media only screen and (min-width: 481px) {
  #header-main-menu-bullet-list-right {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #header-main-menu-bullet-list-right {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #header-main-menu-bullet-list-right {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #header-main-menu-bullet-list-right {
    display: flex;
  }
}
#header-main-menu-bullet-list-right li {
  padding: 10px;
  color: #333333;
  z-index: 100;
  position: relative;
  display: inline-block;
  transition: 0.4s all;
}
#header-main-menu-bullet-list-right li ul {
  display: none;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 40px;
  right: 0;
  border-radius: 4px;
  z-index: 100000000;
}
#header-main-menu-bullet-list-right li ul li:hover {
  background-color: #fbc80e;
  width: 100%;
  color: #fff;
}
#header-main-menu-bullet-list-right li .item-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  position: relative;
  font-size: 0.8rem;
}
#header-main-menu-bullet-list-right li .item-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15px;
  right: 0;
  opacity: 0;
  transition: 0.1s all !important;
  background-color: #fbc80e;
  border: 3px solid transparent;
}
#header-main-menu-bullet-list-right li .item-link:hover {
  color: #fff;
}
#header-main-menu-bullet-list-right li .item-link:hover::after {
  opacity: 1;
  border-radius: 4px;
  color: #fff !important;
  top: 0px;
  right: 0;
  z-index: -100;
  border: 3px solid #f0d77f;
}
#header-main-menu-bullet-list-right li[class*=mega-menu] ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-direction: column !important;
  flex-grow: 1;
}
#header-main-menu-bullet-list-right li[class*=mega-menu] ul li h3 {
  color: #333333;
  letter-spacing: 2px;
}
#header-main-menu-bullet-list-right li[class*=mega-menu] ul li a {
  text-decoration: none;
  padding: 10px;
  color: #333333;
}
#header-main-menu-bullet-list-right li[class*=mega-menu]:hover ul {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  width: 80rem;
}
#header-main-menu-bullet-list-right li[class*=mega-menu]:hover ul li:hover {
  width: max-content !important;
  border-radius: 4px;
}
#header-main-menu-bullet-list-right li[class*=mega-menu]:hover ul li:hover h3 {
  color: #fff;
}
#header-main-menu-bullet-list-right li:hover ul {
  display: flex;
  flex-direction: column;
}
#header-main-menu-bullet-list-left {
  width: 30%;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  #header-main-menu-bullet-list-left {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  #header-main-menu-bullet-list-left {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #header-main-menu-bullet-list-left {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  #header-main-menu-bullet-list-left {
    display: flex;
  }
}
#header-main-menu-bullet-list-left li {
  text-align: left;
  width: 100%;
}
#header-main-menu-bullet-list-left li i {
  background-color: #fbc80e;
  border-radius: 100%;
  padding: 20px;
  transition: 0.4s all;
}
#header-main-menu-bullet-list-left li i:hover {
  background-color: #1066d6;
  color: #fff;
}
#header-slider {
  width: 100%;
  height: 850px;
  position: relative;
}
#header-slider-slides {
  direction: ltr;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  width: 100%;
  height: 100%;
}
#header-slider-slides .item {
  position: relative;
  flex-grow: 1;
}
#header-slider-slides .item img {
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}
#header-slider-slides .item .info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header-slider-slides .item .info h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #fbc80e;
  padding: 10px;
}
#header-slider-slides .item .info p {
  color: #fff;
  padding: 20px;
}
#header-slider-slides .item .info button {
  border: 2px solid #fbc80e;
  padding: 15px;
  width: 8rem;
  background-color: transparent;
  border-radius: 40px;
  z-index: 2000;
  color: #fff;
  cursor: pointer;
  transition: 0.8s all;
}
#header-slider-slides .item .info button:hover {
  background-color: #fbc80e;
}
#header-slider-navigation {
  display: flex;
  justify-content: center;
}
#header-slider-navigation ul {
  display: flex;
  position: absolute;
  bottom: 50px;
}
#header-slider-navigation ul li {
  margin-right: 30px;
}
#header-slider-navigation ul li i {
  color: #fff;
  cursor: pointer;
  transition: 0.8s all;
}
#header-slider-navigation ul li i:hover {
  transform: scale(0.9);
}
#header-slider-navigation ul li i.active {
  color: #fbc80e;
}

.item-link {
  text-decoration: none;
  color: #333333;
  padding: 10px;
}

#slogan {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}
#slogan-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: 100;
  background: #396afc;
  /* fallback for old browsers */
  background: -webkit-linear-gradientto right, #2948ff, #396afc;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradientto right, #2948ff, #396afc;
  border-radius: 4px;
}
#slogan-item-icon i {
  font-size: 3rem;
  color: #fff;
}
#slogan-item p {
  color: #fff;
  margin-top: 20px;
  font-size: 1.3rem;
}

.features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.features-container {
  background-color: #fff;
  width: 75%;
  padding: 10px;
  border-radius: 4px;
}
.features-container-head {
  padding: 20px;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.features-container-head-line {
  border: 1px solid #fbc80e;
  width: 10%;
  margin: 10px 0 10px 0;
}
.features-container-head-description {
  color: #333333;
}
.features-container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
}
.features-container-list-item {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.features-container-list-item-icon {
  width: 10rem;
}
.features-container-list-item-icon img {
  width: 100%;
}

.products {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products-container {
  background-color: #fff;
  width: 75%;
  padding: 10px;
  border-radius: 4px;
}
.products-container-head {
  padding: 20px;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.products-container-head-line {
  border: 1px solid #fbc80e;
  width: 10%;
  margin: 10px 0 10px 0;
}
.products-container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}
.products-container-list-item {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5px;
}
.products-container-list-item-icon {
  width: 100%;
  height: 100%;
}
.products-container-list-item-icon img {
  width: 100%;
  height: 250px;
  border-radius: 40px;
  object-fit: cover;
}

.about-us {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.about-us-container {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.about-us-container-head {
  padding: 20px;
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-us-container-head-line {
  border: 1px solid #fbc80e;
  width: 10%;
  margin: 10px 0 10px 0;
}
.about-us-container-head-description {
  color: #333333;
}
.about-us-container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
}
.about-us-container-list-item {
  width: 20%;
  padding: 20px;
  border-radius: 4px;
  transition: background 0.5s;
  color: #333333;
}
.about-us-container-list-item img {
  width: 100%;
  border-radius: 4px;
}
.about-us-container-list-item-network-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.about-us-container-list-item:hover {
  background-color: #1066d6;
  color: white;
}

footer ul:first-child {
  width: 100%;
  padding: 20px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: initial;
  color: #fff;
}
footer ul:first-child h3 {
  font-weight: bold;
}
footer ul:first-child a {
  text-decoration: none;
  color: #fff;
  font-weight: thin;
}
footer ul:first-child a:hover {
  background-color: #1066d6;
  color: #fff;
}
footer ul:first-child div:nth-child(3) ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
footer ul:first-child div:nth-child(3) ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
footer ul:first-child div:nth-child(3) ul li i {
  margin-left: 10px;
}
footer ul:nth-child(2) {
  padding: 10px;
  background-color: #101846;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media only screen and (max-width: 480px) {
  .toggle-main-menu-right {
    display: flex !important;
    flex-direction: column;
  }

  .toggle-main-menu-right li a i {
    display: none !important;
  }

  .toggle-main-menu-right ul li {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) {
  .toggle-main-menu-right {
    display: flex !important;
    flex-direction: column;
  }

  .toggle-main-menu-right li a i {
    display: none !important;
  }

  .toggle-main-menu-right ul li {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .toggle-main-menu-right {
    display: flex !important;
    flex-direction: column;
  }

  .toggle-main-menu-right li a i {
    display: none !important;
  }

  .toggle-main-menu-right ul li {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .toggle-main-menu-right {
    display: flex !important;
    flex-direction: column;
  }

  .toggle-main-menu-right li a i {
    display: none !important;
  }

  .toggle-main-menu-right ul li {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .toggle-main-menu-right {
    display: flex !important;
    flex-direction: column;
  }

  .toggle-main-menu-right li a i {
    display: none !important;
  }

  .toggle-main-menu-right ul li {
    display: none !important;
  }
}
/* @include mediaQuery($breakpoint-xxl) {
  #header-main-menu {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  #toggle-main-menu-right {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
  }
  #toggle-main-menu-right li a {
    a {
        display: flex;
      i {
        display: flex !important;
        background-color: red;
        color: blue  !important;
      }
    }
  }
  #toggle-main-menu-right ul li {
    display: flex !important;
  }

  #header-main-menu-bullet-list-right {
    display: flex !important;
  }
  #header-main-menu-bullet-list-left {
    display: flex !important;
  }
}
 */
.test {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 2.5rem;
}

/*# sourceMappingURL=main.css.map */
