@use "../base" as *;
.features {
  width: 100%;
  @include flex-center(column);
  &-container {
    background-color: $white;
    width: 75%;
    padding: 10px;
    border-radius: 4px;
    &-head {
      padding: 20px;
      font-size: $big-font-size;
      text-align: center;
      @include flex-center(column);
      &-line {
        border: 1px solid $orange;
        width: 10%;
        margin: 10px 0 10px 0;
      }
      &-description {
        color: $color-black-50;
      }
    }
    &-list {
      @include flex-center(row) {
        justify-content: space-evenly;
      }
      padding: 20px;
      text-align: center;
      &-item{
          width: 25%;
          @include flex-center(column);
          &-icon{
              width: 10rem;
              img{
                  width: 100%;
              }
          }
      }
    }
  }
}
