@use "../base" as *;
#slogan {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  &-item {
      @include flex-center(column);
    padding: 20px;
    width: 100%;
    height: 100;
    background: #396afc; /* fallback for old browsers */
    background: -webkit-linear-gradient#{$bg-color-slogan-item}; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient#{$bg-color-slogan-item} /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;

    border-radius: 4px;
    &-icon {
      i {
        font-size: $big-icon-size;
        color: $color-white;
      }
    }
    p {
      color: $color-white;
      margin-top: 20px;
      font-size: $big-font-size;
    }
  }
}
