@use "./colors" as *;
@use "./types" as *;
@import "http://cdn.font-store.ir/yekan.css";
html{
    font-size: 100%;
}
body{
    direction: rtl;
    background-color:$bg-color-body ;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Yekan;
}
li{
    list-style: none;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
@for $i from 1 to 5 {
    .w-#{25 * $i}{
        width: 25% * $i !important;
    }
}
@each $align in $text-align {
    .text-#{$align}{
        text-align: $align;
    }
}