@use "./colors" as *;
@import "http://cdn.font-store.ir/yekan.css";
html{
    font-size: 100%;
}
body{
    direction: rtl;
    background-color:$bg-color-body ;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Yekan;
}
li{
    list-style: none;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
