@use "./colors" as *;
@use "./types" as *;
@import "http://cdn.font-store.ir/yekan.css";
html{
    font-size: 100%;
}
body{
    direction: rtl;
    background-color:$bg-color-body ;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Yekan;
}
li{
    list-style: none;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}
@for $i from 1 to 5 {
    .w-#{25 * $i}{
        width: 25% * $i !important;
    }
}
@each $align in $text-align {
    .text-#{$align}{
        text-align: $align;
    }
}
.form-group{
    width: 100%;
    margin-top: 10px;
input,textarea{
    padding:10px;
    border: 1px solid $bg-color-body;
}
button{
    background-color: blue;
    color: $color-white;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}
}
.p-3{
    padding: 15px;
}